build
*.pyc
*.nc
*.mod
*.png
*.aux
*.bbl
*.bcf
*.blg
*.log
*.out
*.xml
*.toc
grid_generator/gridgenerator
sfc-fields-usgs-veg30susgs
ETOPO1_Ice_g_gmt4.grd
GlobalLakeDepth.dat
output
figs
nwp_init
grid_generator/statistics/*.txt
